.slider::-webkit-slider-thumb {
  appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
  border: 2px solid #000;
}

.slider::-moz-range-thumb {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
  border: 2px solid #000;
}

.slider::-webkit-slider-track {
  background: #4b5563;
  height: 4px;
  border-radius: 2px;
}

.slider::-moz-range-track {
  background: #4b5563;
  height: 4px;
  border-radius: 2px;
  border: none;
}
